<%= form_for [@service_category, service], data: { turbo: false } do |f| %>
  <%= render partial: 'partials/form_errors', locals: {errors: service.errors} %>

  <div class="mb-3 mt-2">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>

<!--  <div class="mb-3 mt-2">-->
    <%#= f.label :price %>
    <%#= f.text_field :price, class: 'form-control' %>
<!--  </div>-->

  <div class="mt-4">
    <%= f.submit t('views.save'), class: 'btn btn-success' %>
    <%= t('views.or') %>
    <%= link_to t('views.back'), :back %>
  </div>
<% end %>
