<%= render 'service', service: @service %>
<div class="mt-4">
  <%= link_to 'Редактировать', edit_service_category_service_path(@service_category, @service),
              class: 'btn btn-success' %>
  <%= t('events.or') %>
  <%= link_to 'вернуться', :back %>
</div>
<div class="mt-4">
  <%= button_to 'Удалить', service_category_service_path(@service_category, @service),
                method: :delete,
                form: { data: { turbo_confirm: 'Уверены что хотите удалить?' } },
                class: 'btn btn-danger' %>
</div>