<%= render 'service', service: @service %>
<div class="mt-4">
  <%= link_to t('views.edit'), edit_service_category_service_path(@service_category, @service),
              class: 'btn btn-success' %>
  <%= t('views.or') %>
  <%= link_to t('views.back'), :back %>
</div>
<div class="mt-4">
  <%= button_to t('views.destroy'), service_category_service_path(@service_category, @service),
                method: :delete,
                form: { data: { turbo_confirm: t('views.destroy') } },
                class: 'btn btn-danger' %>
</div>
