<%= render 'executor', executor: @executor %>
<div class="mt-4">
  <%= link_to t('views.edit'), edit_executor_path(@executor),
              class: 'btn btn-success' %>
  <%= t('views.or') %>
  <%= link_to t('views.back'), :back %>
</div>
<div class="mt-4">
  <%= button_to t('views.destroy'), executor_path(@executor),
                method: :delete,
                form: { data: { turbo_confirm: t('views.delete_confirm') } },
                class: 'btn btn-danger' %>
</div>
