<%#= render 'service_category', service_category: @service_category %>

<div class="container my-3">
  <h1><%= @service_category.title %></h1>

  <div class="mt-4">
    <%= link_to t('views.edit'), edit_service_category_path(@service_category),
                class: 'btn btn-success' %>
    <%= t('views.or') %>
    <%= link_to t('views.back'), :back %>
  </div>

  <div class="mt-4">
    <%= button_to t('views.destroy'), service_category_path(@service_category),
                  method: :delete,
                  form: { data: { turbo_confirm: t('views.delete_confirm') } },
                  class: 'btn btn-danger' %>
  </div>

  <h2 class="mt-5 mb-3">Услуги</h2>
  <div>
    <%= link_to 'Добавить услугу', new_service_category_service_path(@service_category), class: 'btn btn-success' %>
  </div>

  <% @services.each do |service| %>
    <%= render 'services/service', service: service %>
  <% end %>
</div>
