<%= form_for order, data: { turbo: false } do |f| %>
  <%= render partial: 'partials/form_errors', locals: {errors: order.errors} %>

  <div class="mb-3 mt-2">
    <%= f.label :number %>
  </div>

  <div class="mb-3">
    <%= f.label :created_at %>
  </div>

  <div class="mt-4">
    <%= f.submit 'Сохранить', class: 'btn btn-success' %>
    <%= t('events.or') %>
    <%= link_to 'вернуться', :back %>
  </div>
<% end %>
