<%= simple_form_for order, data: { turbo: false } do |f| %>
  <%= render partial: 'partials/form_errors', locals: {errors: order.errors} %>

  <div class="mb-3 mt-2">
    <%= f.label :customer_name %>
    <%= f.text_field :customer_name, class: 'form-control' %>
  </div>

  <div class="mb-3 mt-2">
    <%= f.association :services, as: :check_boxes %>
  </div>

  <div class="mb-3 mt-2">
    <%= f.association :executors, as: :check_boxes %>
  </div>

<!--  <div class="field">-->
<!--    <%#= f.label :services %><br>-->
    <%#= f.collection_select :service_ids, @services, :id, :title, {}, multiple: true %>
<!--  </div>-->

  <div class="mt-4">
    <%= f.submit t('views.save'), class: 'btn btn-success' %>
    <%= t('views.or') %>
    <%= link_to t('views.back'), :back %>
  </div>
<% end %>
