<%= render 'order', order: @order %>
<div class="mt-4">
  <%= link_to 'Редактировать', edit_order_path(@order),
              class: 'btn btn-success' %>
  <%= t('events.or') %>
  <%= link_to 'вернуться', :back %>
</div>
<div class="mt-4">
  <%= button_to 'Удалить', order_path(@order),
                method: :delete,
                form: { data: { turbo_confirm: 'Уверены что хотите удалить?' } },
                class: 'btn btn-danger' %>
</div>
